.subscribeNowButton {
  text-align: center;
  max-width: fit-content;
  padding: 2rem;
  background: var(--gray-850);
  border-radius: 100px;
  font-size: 1.25rem;
  font-weight: bold;
  margin: 4rem 0 2rem;
  color: var(--white);

  span {
    color: var(--yellow-500);
    margin-left: 0.25rem;
  }

  &:hover {
    span {
      text-decoration: underline;
    }
  }
}
